body {
  font-family: sans-serif;
  padding: 20px;
  background: #f4f4f4;
  max-width: 95vw;
  overflow-x: auto;
  margin: auto;
}

#grid-malla {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 20px;
  align-items: start;
}

.semestre {
  background: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  min-width: 250px;
}

.semestre h3 {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.ramo {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  text-align: left;
}

.no-aprobado {
  background-color: purple;
}

.aprobado {
  background-color: plum;
  text-decoration: line-through;
}

.bloqueado {
  background-color: grey;
  cursor: not-allowed;
}

button {
  background-color: #ff5050;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

